*{
    margin: 0;
    padding: 0;
}

input{
    width: 350px;
    margin: auto;
    display: block;
    margin-top: 20px;
    height: 30px;
    font-size: 1.3em;
}

#MediPrice{
    margin-top: 0;
}

#MediExpiry{
    width: 200px;
    margin-top: 0;
}

.save{
    margin: auto;
    display: block;
    padding: 7px 35px;
    font-size: 1.3em;
    cursor: pointer;
}

#table{
    width: 100%;
    margin-top: 20px;
    font-size: 1.2em;
}

td{
    text-align: center;
}

button{
    margin: auto;
    display: block;
}